body { max-width: 780px; }
video, audio {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
header {
    background: white url('background.jpg') repeat center;
}

menu a {
    background-color: #ffec00;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.people {
    column-count: 1;
    column-gap: 0;
}

@media screen and (min-width: 580px) {
    .people {
        column-count: 2;
        column-gap: 1em;
    }
}

.contributor {
    border-left: 1mm ridge #ffec00;
    display: inline-block;
    margin: 0 0 1em;
    padding-left: 0.5em;
    width: 100%;
}
