{% extends "base.html" %}
{% block content %}

<h2>Projet</h2>
<p>
  La Rallonge est une expérience menée à Toulouse depuis juin 2014
  ayant pour but de créer une oeuvre collective entre réalisateurs de
  cinéma et duos de musiciens improvisateurs. Ce dispositif s'inspire
  du cadavre exquis et a pour but d'interroger la notion d'inconscient
  collectif.
</p>
<p>
  Des danceurs/performeurs contribuent également au
  projet depuis mars 2017.
</p>
<h2>Protocole</h2>
<p>
  Il s'agit de proposer à un duo de musiciens d'improviser sur un
  court métrage de 3 minutes. Cette émanation musicale immédiate
  constituera un prolongement de la séquence vidéo, une réponse, un
  commentaire s'en inspirant directement. Cette bande sonore est
  ensuite envoyée à un autre réalisateur qui devra observer la même
  contrainte : s'inspirer de cette missive, la considérer comme une
  lettre que l'on reçoit personnellement pour créer un court métrage
  de 3 minutes, donc un nouveau prolongement... Cette nouvelle vidéo
  donnera lieu à un nouvel enregistrement avec deux nouveaux
  musiciens, et ainsi de suite... En perpétuel mouvement, ce projet se
  propose de créer une chaîne mêlant des artistes venus de tous
  horizons, ne se connaissant pas au préalable.
</p>
<h2>Inconscient collectif</h2>
<p>
  L'objectif de ce site est d'apprécier le niveau d'interaction entre
  les différentes oeuvres et leur esthétique. Le spectateur est invité
  à apprécier un dispositif à la fois simple et surprenant : il ne
  s'agit pas simplement de visionner une série de courts métrages mais
  bien de se confronter à une expérience polyphonique,
  polymorphe... L'objectif est que la mémoire de cette expérience ne
  soit pas le souvenir d'un film mais qu'elle s'apparente à une
  rallonge d'expériences, une série de mutation d'émotions qui n'ont
  pas de connexions logiques entre elles mais qui restent de fait
  liées.
</p>
<p>
  La Rallonge prend parfois d'autres formes lors d'installations
  multimédia ou de ciné-concerts.
</p>
<h2>Contact</h2>
<p>
  Pour contacter la Rallonge : <i>larallonge[at]franceimpro.net</i>
</p>
{% endblock %}
