<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>La Rallonge</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="assets/style.css?v=1" type="text/css">    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="larallonge.js?v=1"></script>
  </head>
  <body>
    <header>
      <center>
        <a href="index.html"><img src="assets/logo.png" alt="La Rallonge"></a>
        <menu>
          <a href="index.html">Départs</a>
          <a href="#">Sélection</a>
          <a href="#">Participants</a>
          <a href="#">Actus</a>
          <a href="#">À propos</a>
        </menu>
      </center>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
